/*
  Global Retro Terminal (Black & White) Theme
*/
:root {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  font-weight: 400;


  color-scheme: dark;
  color: #ffffff; 
  background-color: #000000; 
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
}


#root {
  max-width: none;
  margin: 0;
  padding: 0;
  width: 100%;
}


.card, .read-the-docs {
  padding: 0;
  color: inherit;
}