@import "tailwindcss";

@theme {
    --font-sans: "Google Sans Flex", ui-sans-serif, system-ui, sans-serif;

    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));
    --color-card: hsl(var(--card));
    --color-border: hsl(var(--border));
    --color-muted: hsl(var(--muted-foreground));
    --color-primary: hsl(var(--primary));
}

@import "./styles/components.css";

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 10%;
        --card: 0 0% 98%;
        --border: 0 3% 75%;
        --muted-foreground: 0 0% 45%;
        --primary: 0 0% 10%;
    }

    .dark {
        --background: 225, 15%, 12%;
        --foreground: 0 0% 98%;
        --card: 0 0% 12%;
        --border: 0 1% 40%;
        --muted-foreground: 0 0% 65%;
        --primary: 0 0% 98%;
    }

    body {
        @apply bg-background text-foreground font-sans;
    }
}